# EDA

In [1]:
import pandas as pd
import matplotlib.pyplot
import numpy as np

In [2]:
features = [ 
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", 
    "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"
]

In [18]:
def get_data(filePath):
    df = pd.read_csv(filePath)
    df.columns = features
    df.replace("?", np.nan, inplace=True)
    df[["age", "sex", "cp", "trestbps", "exang", "slope"]].astype(int)
    return df

In [19]:
clev = get_data("heart+disease/cleveland.csv")
clev.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

In [21]:
clev.num.unique()

array([2, 1, 0, 3, 4])

In [22]:
clev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    float64
 1   sex       302 non-null    float64
 2   cp        302 non-null    float64
 3   trestbps  302 non-null    float64
 4   chol      302 non-null    float64
 5   fbs       302 non-null    float64
 6   restecg   302 non-null    float64
 7   thalach   302 non-null    float64
 8   exang     302 non-null    float64
 9   oldpeak   302 non-null    float64
 10  slope     302 non-null    float64
 11  ca        298 non-null    object
 12  thal      300 non-null    object
 13  num       302 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.2+ KB

In [7]:
swis = get_data("heart+disease/switzerland.csv")
swis.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,34,1,4,115,0,NaN,NaN,154,0,.2,1,NaN,NaN,1
1,35,1,4,NaN,0,NaN,0,130,1,NaN,NaN,NaN,7,3
2,36,1,4,110,0,NaN,0,125,1,1,2,NaN,6,1
3,38,0,4,105,0,NaN,0,166,0,2.8,1,NaN,NaN,2
4,38,0,4,110,0,0,0,156,0,0,2,NaN,3,1

In [8]:
swis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       122 non-null    int64
 1   sex       122 non-null    int64
 2   cp        122 non-null    int64
 3   trestbps  120 non-null    object
 4   chol      122 non-null    int64
 5   fbs       48 non-null     object
 6   restecg   121 non-null    object
 7   thalach   121 non-null    object
 8   exang     121 non-null    object
 9   oldpeak   116 non-null    object
 10  slope     105 non-null    object
 11  ca        5 non-null      object
 12  thal      71 non-null     object
 13  num       122 non-null    int64
dtypes: int64(5), object(9)
memory usage: 13.5+ KB

In [9]:
hung = get_data("heart+disease/hungarian.csv")
hung.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,29,1,2,120,243,0,0,160,0,0.0,NaN,NaN,NaN,0
1,29,1,2,140,NaN,0,0,170,0,0.0,NaN,NaN,NaN,0
2,30,0,1,170,237,0,1,170,0,0.0,NaN,NaN,6,0
3,31,0,2,100,219,0,1,150,0,0.0,NaN,NaN,NaN,0
4,32,0,2,105,198,0,0,165,0,0.0,NaN,NaN,NaN,0

In [10]:
hung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       293 non-null    int64
 1   sex       293 non-null    int64
 2   cp        293 non-null    int64
 3   trestbps  292 non-null    object
 4   chol      270 non-null    object
 5   fbs       285 non-null    object
 6   restecg   292 non-null    object
 7   thalach   292 non-null    object
 8   exang     292 non-null    object
 9   oldpeak   293 non-null    float64
 10  slope     104 non-null    object
 11  ca        3 non-null      object
 12  thal      28 non-null     object
 13  num       293 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.2+ KB

## Cleveland EDA

In [17]:
swis["exang"].unique()

array(['0', '1', nan], dtype=object)